html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    padding-top: 110px;
}

@font-face {
    font-family: amalfi;
    src: url(fonts/Amalfi\ Coast.ttf)
}

@font-face {
    font-family: whitesmith;
    src: url(fonts/White\ Smith.otf);
}

.navbar-brand {
    font-family: amalfi;
}

.navbar-nav a {
    letter-spacing: 2px;
}

.min-vh-100 {
    min-height:100vh!important
}

#welcome h1 {
    font-weight: bolder;
    font-size: 70px;
    text-align: left;
}

#orange {
    color: orangered;
}

#dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: orangered;
    border-radius: 50%;
}

a[href="resume.pdf"] {
    color: white;
    background-color: dodgerblue;
    padding: 10px 15px;
}

a[href="resume.pdf"]:hover {
    background-image: linear-gradient(to bottom, #0099ff, #33ccff, #66ffff);
    text-decoration: none;
}

#welcome p {
    margin-top: 50px;
}

blockquote {
    border-left-color: darkgrey;
}

.navbar-nav a:hover::after {
    border-bottom: 2px solid orangered;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 60px;
    align-self: center;
}

.col-md-4 h1 {
    text-align: center;
    font-size: 45px;
    color: dodgerblue;
    margin-bottom: 70px;
}

.col-md-4 h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 4px;
    background: orangered;
    width: 40%;
    margin-top: 10px;
}

div[id="skills"] h1::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 4px;
    background: orangered;
    width: 20%;
    margin-top: 10px;
}

#welcome ~ div {
    font-size: 20px;
    padding-top: 50px;
}

#about {
    text-align: justify;
    line-height: 40px;
    word-spacing: 6px;
}

.contain {
    position: relative;
    width: 50%;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: orangered;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.contain:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


#education p {
    line-height: 60px;
    text-align: center;
    border: 2px solid orangered;
    border-radius: 20%;
}

#projects p {
    font-family: whitesmith;
    text-align: center;
    color: #666;
    font-size: 100px;
    margin-top: 7%;
}

table a {
    color: white;
    background-color: dodgerblue;
    padding: 5px 10px;
}

table a:hover {
    background-image: linear-gradient(to bottom, #0099ff, #33ccff, #66ffff);
    text-decoration: none;
    color: white;
}
/*#bucketlist p {
    font-family: whitesmith;
    text-align: center;
    color: #666;
    font-size: 100px;
    margin-top: 7%;
}*/
